
.box:nth-child(2n+1):hover{
    -webkit-transform: translatex(400px) translatey(100px) ;
}
.box:nth-child(2n):hover{
    -webkit-transform: translatex(400px) translatey(-100px) ;
}




.box{

    -webkit-transition:width 5s, height 5s, background-color 5s, -webkit-transform 5s;
  

}